
@mixin desktop {
    @media (min-width: 600px){        
                width: 412px;
                height: 412px;
                padding: 34px;        
        .rating-state__image-container, .rating-state__number{
            width: 50px;
            height: 50px;
        }
        .rating-state__title, .thankyou-state__title{
            font-size: 1.9em;
        }
        .thankyou-state__description{
            font-size: 1.07em;
        }
        .thankyou-state__result{
            font-size: 1em;
            width: 196px;
        }
    
    }
}   